<html style="zoom: 1.2;">
    <head>
        <title></title>
        <script src="{{ url_for('static', filename='html2pdf.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='html2canvas.js') }}"></script>
        <script src="{{ url_for('static', filename='jspdf.min.js') }}"></script>
        <script src="{{ url_for('static', filename='es6-promise.auto.min.js') }}"></script>
        <style>
            .watermark
             {
             position: fixed;
             top:400px;
             left:190px;
             opacity:0.2;
             z-index:99;
             font-size: 30px;
             color:lightslategrey;
             transform: rotate(-20deg);
             }
        </style>
        <script>
         
            function edit_by(_id,data){
                    document.getElementById(_id).innerHTML = data;   
                }
            function gum() {
                var element = document.getElementsByTagName('bo')[0]
                html2pdf().from(element).toPdf().save('my_document.pdf')
                }
                
            function downloadimage() {
            //var container = document.getElementById("image-wrap"); //specific element on page
            document.getElementById('ltx').style.position = 'absolute';
            document.getElementById('ltx').style.top = '7px';
            document.getElementById('ltx').style.backgroundColor = 'white';
            document.getElementById('ltx').style.right = '600px';
            document.getElementById('lqt').style.position = 'absolute';
            document.getElementById('lqt').style.top = '770px';
            document.getElementById('lqt').style.right = '750px';
            document.getElementById('lqt').style.width = '200px';
            document.getElementById('lqt').style.backgroundColor = 'white';
            document.getElementById('smp').style.left = '700px';
            var container = document.getElementById("bo"); // full page 

            html2canvas(container).then(function(canvas) {
               // const imgData = canvas.toDataURL('image/png');
                var link = document.createElement("a");
                document.body.appendChild(link);
                link.download = "Tax-Invoice-{{code}}.jpeg";
                link.href = canvas.toDataURL('image/jpeg');
                link.target = '_blank';
                link.click();
               // window.open(canvas.toDataURL('image/png'));
                
            });
            }

            
            window.onafterprint = function(){
                   
                    downloadimage();
                document.getElementById('fmr').submit();
           
            }
            
        </script>
        
    </head>
  
    <form action="/inc_tax_code" method="POST" id="fmr">
       
       
    </form>
    <body id="bo" >
        
        <div class="watermark" id="smp" >FOR SAMPLE</div>
    <center>
    
        
   
    <style>
        fieldset
        {
        border-style: solid;
        border-width: 7px;
        max-width:400px;
        height: 750px;
     	
        }
        .legend2 {
        position: absolute;
        top: 770px;
        right: 200px;
        background: #fff;
        line-height:1.2em;
        width: 200px
        }   
        @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');  
    </style>
      <div style="height: 150px ;width: 600px ;">
    <fieldset>
   
    <legend style="font-family: 'Rubik', sans-serif;" align="right" id="ltx">TAX INVOICE</legend>
    <legend class="legend2" style="font-family: 'Rubik', sans-serif;" id="lqt" >QUALITY IS OUR MOTO</legend>
    <h2 style="font-family: 'Acme', sans-serif;height: 10px;"   > MADHU COPY CENTRE</h2>
    <p  style="font-family: 'Chau Philomene One', sans-serif;background-color:gray;font-size: 6px;padding-top: 4px;padding-bottom: 4px; color:white; width: 400px;"><b> LASER COLOR PRINTS &bull; COLOR XEROX &bull; JUMBO XEROX &bull; PLAN RED./ ENLARGEMENT &bull; COLOR PLOTTING &bull; COLOR SCANNING</b></p>
    <p style="font-family: 'Signika', sans-serif;font-size: 10px;"><strong>101, Rudra Plaza, Opp VMC Gas Office, Dandia Bazar, Vadodara. GUJARAT <br /> Ph.: 0265 - 2411964 ; 2413616, 98250 40915</strong></p>        
    <div style="padding-left: 20px;">
        <div  style="border: 2px solid black;height: 100px;width:300px ;float: left;">
            <table style="font-family: 'Signika', sans-serif;font-size: 10px;float: left;">
                <tr>

                </tr>
                <tr >
                    <td style="padding:4px;text-align: center;">Name:</td>
                    <td style="padding:4px;text-align:left;" id="name"  >{{data[1]}}</td>
                </tr>
                <tr>
                    <td style="padding:4px;text-align: center;">Address</td>
                    <td style="padding:4px;" >:<u style="padding:4px;">__________________________________</u></td>
                </tr>
                <tr>
                    <td style="padding:4px;text-align: center;">Mobile</td>
                    <td style="padding:4px;text-align:left">:{{data[2]}}</td>
                </tr>
                <tr>
                    <td style="padding:4px;text-align: center;">GSTIN:</td>
                    <td style="padding:4px;text-align: center;"><u><input type="text" style="border: 0px; width: 200px;" value="{{data[10]}}"></input></u></td>
                </tr>
            </table>
           
        </div>  
        <div style="border: 2px solid black;height: 100px;width:160px ;float: left;">
            <table style="font-family: 'Signika', sans-serif;font-size: 10px;float: left;">
                <tr>
                    <td style="padding:4px" >Invoice No.</td>
                </tr>
                <tr>
                    <td style="padding:4px" id="inv" ><b> {{code}}</b></td>
                </tr>
                <tr>
                    <td style="padding:4px">Invoice Date.</td>
                    
                </tr>
                <tr>
                    <td style="padding:4px"><input type="text" style="border: 0px; width: 130px;" value="{{data[0]}}"></input></td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div  style="font-family: 'Signika', sans-serif;font-size: 10px;font-weight: bold; height: 300px;width:465px ;float: left;position: relative;top: 10px;padding: 2px;">
           <div style="height: 20px;width: 20px;border: 1px solid black;float: left;background-color:lightgray;">Sr.<br> No</div>
           <div style="height: 20px;width: 180px;border: 1px solid black;float: left;background-color:lightgray;">PARTICULARS</div>
           <div style="height: 20px;width: 25px;border: 1px solid black;float: left;background-color:lightgray;">HSN <br> ACS</div>
           <div style="height: 20px;width: 80px;border: 1px solid black;float: left;background-color:lightgray;">QUANTITY</div>
           <div style="height: 20px;width: 60px;border: 1px solid black;float: left;background-color:lightgray;">RATE</div>
           <div style="height: 20px;width: 80px;border: 1px solid black;float: left;background-color:lightgray;">AMOUNT</div>
           <div style="height: 350px;width:20px ;float: left;border: 1px solid black;"> 

            {% for i in range(0,sr) %}
		      
                <input type="text" name=""  id="" value="{{i+1}}" style="width:20px;border: 0px;" ></input>
		      
            {% endfor %}
           
        </div >
            <div style="height: 350px;width:180px ;float: left;border: 1px solid black;"> 
                
                {% for i in range(0,sr) %}
                
                <input type="text" name=""  id="" value="{{desc[i]}}" style="width:180px;border: 0px;" ></input>
			
                {% endfor %}
            </div >
                <div style="height: 350px;width:25px ;float: left;border: 1px solid black;">
                    <input type="text" name=""  id="" value="" style="width:25px;border: 0px;" ></input>
                    <input type="text" name=""  id="" style="width:25px;border: 0px;" ></input> 
               
                </div >
                    <div style="height: 250px;width:80px ;float: left;border: 1px solid black;"> 
                        {% for i in range(0,sr) %}
                        <input type="text" name=""  id="" value="{{qt[i]}}" style="width:80px;border: 0px;" ></input>
				  
                        {% endfor %}
                    </div >
                        <div style="height: 250px;width:60px ;float: left;border: 1px solid black;"> 
                            {% for i in range(0,sr) %}
                            <input type="text" name=""  id="" value="{{rt[i]}}" style="width:60px;border: 0px;" ></input>
				     
                            {% endfor %}
                        </div >
                            <div style="height: 250px;width:80px ;float: left;border: 1px solid black;">
                                {% for i in range(0,sr) %}
                                <input type="text" name=""  id="" value="{{amt[i]}}" style="width:80px;border: 0px;" ></input>
						
                                {% endfor %}
                            </div >
                            <script>
                                function calc_c(){
                                var qty = document.getElementById("cgst").value;
                                var rate = document.getElementById("amt").value;
                                var sum = parseFloat(qty) * parseFloat(rate)/100;
                                amt = document.getElementById("camt");
                                amt.value = sum;
                                amt.setAttribute('value', sum); 
                                }
                                function calc_s(){
                                var qty = document.getElementById("sgst").value;
                                var rate = document.getElementById("amt").value;
                                var sum = parseFloat(qty) * parseFloat(rate)/100;
                                amt = document.getElementById("samt");
                                amt.value = sum;
                                amt.setAttribute('value', sum); 
                                }
                                //var s =  parseFloat(document.getElementById("sgst").value)
                                function calc_fin(){
                                    var qty = document.getElementById("camt").value;
                                    var qt = document.getElementById("samt").value;
                                    var rate = document.getElementById("amt").value;
                                    var sum = parseFloat(qty) + parseFloat(rate)+  parseFloat(qt);
                                    amt = document.getElementById("fin_amt");
                                    at = document.getElementById("rd_amt")  ;
                                    amt.value = (sum); 
                                    amt.setAttribute('value', (sum));
                                    at.value = Math.round(sum);
                                    at.setAttribute('value', Math.round(sum));
                                }
                                function cg(){
                                    calc_c();
                                    calc_fin();
                                }
                                function sg(){
                                    calc_s();
                                    calc_fin();
                                }
                            </script>
                                <div style="height: 99px;width:226px ;float: left;"> 
                                <table  style="font-family: 'Signika', sans-serif;font-size: 10px;float: left;height: 100%;width: 100%; border: 1px solid black;">
                                    <tr style="height: 18px;width:100%;">
                                        <td style="font-weight: bold; width: 80px;border: 1px solid black;">Amount</td>
                                        <td style="width: 60px;border: 1px solid black;"></td>
                                        <td style="width: 80px;border: 1px solid black;"><input type="text" name=""  id="amt" value="{{data[9]}}" style="height: 12px; width:80px;border: 0px;" ></input></td>
                                    </tr>
                                    <tr style="height: 17px;width:100%;">
                                        <td style="font-weight: bold;width: 80px;border: 1px solid black;">CGST</td>
                                        <td style="width: 60px;border: 1px solid black;"><input type="text" name=""  id="cgst" value="{{data[3]}}" onchange="cg()" style="height: 12px; width:80px;border: 0px;" ></input></td>
                                        <td style="width: 80px;border: 1px solid black;"><input type="text" name=""  id="camt" value="{{data[6]}}"  style="height: 12px; width:80px;border: 0px;" ></input></td>
                                    </tr>
                                    <tr style="height: 17px;width:100%;">
                                        <td style="font-weight: bold;width: 80px;border: 1px solid black;">SGST</td>
                                        <td style="width: 60px;border: 1px solid black;"><input type="text" name=""  id="sgst" value="{{data[4]}}" onchange="sg()" style="height: 12px; width:80px;border: 0px;" ></input></td>
                                        <td style="width: 80px;border: 1px solid black;"><input type="text" name=""  id="samt" value="{{data[7]}}" style="height: 12px; width:80px;border: 0px;" ></input></td>
                                    </tr>
                                    <tr style="height: 18px;width:100%;">
                                        <td style="font-weight: bold;width: 80px;border: 1px solid black;">Total</td>
                                        <td style="width: 60px;border: 1px solid black;"></td>
                                        <td style="width: 80px;border: 1px solid black;"><input type="text" name="fin_amt"  id="fin_amt" value="{{data[8]}}" style="height: 12px; width:80px;border: 0px;" ></input></td>
                                    </tr>
                                    <tr style="height: 18px;width:100%;">
                                        <td style="font-weight: bold;width: 80px;border: 1px solid black;">Roundoff.</td>
                                        <td style="width: 60px;border: 1px solid black;"></td>
                                        <td style="width: 80px;border: 1px solid black;"><input type="text" name=""  id="rd_amt" value="{{data[5]}}" style="height: 15px; width:80px;border: 0px;" ></input></td>
                                    </tr>

                                    
                                </table >
                                </div >
        </div>


    </div>   

    <div style="font-weight: bold;font-family: 'Signika', sans-serif;font-size: 10px;height: 20px;width:50px ;float: left;position: relative;top: 100px;left: 20px;"> Rupees :</div>
    <div style="font-weight: bold; font-family: 'Signika', sans-serif;font-size: 10px;height: 20px;width:300px ;float: left;position: relative;top: 100px;"><u></u></div>
    
        <div style="height:100px ;width: 50%;position: relative;top: 0px;left: 0px;float: left;">
        <p style="font-family: 'Signika', sans-serif;font-size: 10px;position: relative;top: 100px;left: 20px; text-align: left;float: left;">GSTIN : 24ACHPA8633J1ZO <br>Bank Name : Central Bank of India <br> Account Number 1221905570 <br>Branch : RajMahel Road, Vadodara <br> IFSC Code : CBINO280489 <br>
        Subject to VADODARA Jurisdiction</p>
        </div >  
        
        <div style="height:100px ;width: 50%; float: left;position: relative;top: 120px;left: 10px;">
            <p style="font-family: 'Signika', sans-serif;font-size: 10px; text-align: left;float:right;">For, MADHU COPY CENTRE <br><br><br> Authorised Signature</p>
        </div> 
    </div>


    
</fieldset>
</center>

</body>
<script>




        


    
</script>
<div id="editor" ></div>
</html>